@model List<TrashCollector.Models.Pickup>
@using TrashCollector.Models
@{
    ViewBag.Title = "Index";
}

<h2>Today's Pickups</h2>

@foreach (Pickup pickup in Model)
{
<p>
    @Html.ActionLink(@pickup.User.FirstName + " " + @pickup.User.LastName, "CustomerProfile", new { Id = pickup.User.Id }) | @pickup.User.StreetAddress | @Html.ActionLink("Complete Pickup", "CompletePickup", new { Id = pickup.Id })
</p>
}

@Html.ActionLink("View this week's pickups", "WeekdayPickups")


